<button class="flex flex-col items-start hover:shadow-2xl hover:-translate-y-1 w-full max:w-1/4 h-40 bg-white rounded-2xl p-3 border border-gray-200 justify-between transition-all ease-in shadow-gray-500/10">
  <div class="flex flex-col gap-1 items-start justify-between w-full h-full">
    <div class="flex flex-col gap-1 items-start">
      <h1 class="text-dark-text font-semibold text-xl line-clamp-2 text-start leading-7">{{ task.title}}</h1>
      <app-tag-pill [tag]="task.label" class="scale-90"/>
    </div>
    <div class="w-full flex gap-2 items-end justify-between">
      <img [src] = "environment.apiUrl + (getAssigneeProfileImage())" alt="profile avatar" class="rounded-full h-8 w-8"/>
      <h1 class="text-dark-text font-semibold text-md line-clamp-3 text-start opacity-60">{{ task.createdAt | date: 'd MMM y' }}</h1>
    </div>

  </div>
</button>
