/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --font-display: "Plus Jakarta Sans", "sans-serif";
  --color-dark-text: #303030;

  --animate-wiggle: wiggle 2s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-9deg);
      opacity: 50%;
    }
    50% {
      transform: rotate(9deg);
      opacity: 100%;
    }
  }
}

* {
  font-family: var(--font-display), sans-serif;
}



.input-text {
  width: 100%;
  background: var(--color-gray-50);
  height: 3.5rem;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
}

.input-text::placeholder {
  opacity: 0.5;
}

.input-text::selection {
  background: var(--color-indigo-400);
  color: white;
}

button {
  cursor: pointer;
}

.p-popover:before, .p-popover:after {
  visibility: hidden;
}
