<button class="flex flex-col items-start hover:shadow-2xl hover:-translate-y-1 w-full max:w-1/4 h-40 bg-white rounded-2xl p-3 border border-gray-200 justify-between transition-all ease-in shadow-gray-500/10"
(click)="openProjectDetails(project)">
  <div class="flex flex-col gap-1 items-start">
    @if (project.tag) {
      <app-tag-pill [tag]="project.tag" />
    }
    <h1 class="text-dark-text font-semibold text-xl">{{ project.name }}</h1>
  </div>
  <div class="flex w-full justify-between items-center gap-2">
    <app-square-icon-button [icon]="Info" class="opacity-25 hover:opacity-100 transition-all"
                            (click)="onInfoClick($event)"/>
    <div class="flex gap-2">
      <div class="flex gap-1.5 w-fit text-xs rounded-xl py-1 px-3 bg-teal-100 text-emerald-800 items-center">
        <lucide-icon [img]="TicketCheck" class="h-5 w-5 -rotate-12"></lucide-icon>
        <span class="font-black text-lg">{{ project.completedTasks }}</span>
      </div>
      <div class="flex gap-1.5 w-fit text-xs rounded-xl py-1 px-3 text-gray-400 items-center">
        <lucide-icon [img]="Ticket" class="h-5 w-5 -rotate-12"></lucide-icon>
        <span class="font-black text-lg text-dark-text">{{ project.openTasks }}</span>
      </div>
    </div>
  </div>
</button>
